@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    background: linear-gradient(rgb(0 0 0 / 23%), rgb(0 0 0 / 23%)), url(/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track{
    background: #1c1c1ca4;
}

::-webkit-scrollbar-thumb{
    background: #989898;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #242424;
}

